body {
    font-family: muli;
    font-size: 16px;
}

#landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    background-color: #AFCDB4;
}

#landing-page #enter {
    display: inline-block;
    width: 75px;
    border: 0px;
    margin-top: -50px;
}

.btn {
    height: 35px;
    border-radius: 4px;
    background-color: #31926F;
    color: white;
    transition: background linear .2s;
}
.btn:hover {
    color: white;
    background-color: #29785B;
}

#fair-page .header {
    background-color: #AFCDB4;
    display: flex;
    justify-content: space-between;
}
#fair-page .header .container {
    background-image: url(img/leaves.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: initial;
    background-position-y: center;
}
#fair-page .header > img {
    margin-right: -20px;
}
#fair-page .header .left {
    padding-top: 30px;
}
#fair-page .header .left img {
    margin-left: -20px;
}
#fair-page .header h1 {
    color: white;
    font-size: 3em;
    font-family: Domine;
    font-size: 80px;
    font-weight: 700;
    line-height: 91px;
    letter-spacing: 1.7142857px;
}
#fair-page .header h2 {
    color: #D4472A;
    font-size: 2em;
    font-family: Domine;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 1.0285715px;
    margin-top: 15px;
}
#fair-page .header p {
    color: #212D23;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 40px;
}

#fair-page #top-border {
    width: 100%;
    height: 8px;
    background-image: url(img/top_border.svg);
    background-size: initial;
    background-position-y: -4px;
    background-repeat-x: repeat;
}

#fair-page #bottom-border {
    width: 100%;
    height: 8px;
    background-image: url(img/top_border.svg);
    background-size: initial;
    background-position-y: -4px;
    background-repeat-x: repeat;
    transform: rotate(180deg);
}

#fair-page #top-arrow {
    background-color: #f4f4f4;
    height: 58px;
    width: 58px;
    border-radius: 100%;
    text-align: center;
    padding-top: 6px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: linear .2s;
}
#fair-page #top-arrow:hover {
    background-color: #DBDBDB;
    text-decoration: none;
}
#fair-page #top-arrow p {
    color: #31926F;
}

#fair-page .content {
    padding-top: 40px;
    padding-bottom: 40px;
}
#fair-page #visit-booths {
    color: #D4472A;
    margin-top: 40px;
}

#fair-page .vendor-container {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding-top: 40px;
    padding-bottom: 40px;
}
#fair-page .vendor-container > div {
    margin-left: 280px;
    margin-top: -2px;
}
#fair-page .vendor-image {
    float: left;
    width: 240px;
}
#fair-page .vendor-name {
    font-family: Domine;
    font-size: 28px;
    margin: 0;
}
#fair-page .vendor-craft {
    font-size: 20px;
    margin-bottom: 30px;
}
#fair-page .vendor-text {
    margin-bottom: 30px;
}
#fair-page .vendor-container a.btn {
    width: 85px;
    height: 38px;
}
#fair-page .vendor-container a.btn:active,
#fair-page .vendor-container a.btn:visited {
    background-color: #29785B;
}
#fair-page .vendor-container .social,
#fair-page .vendor-container .social:hover,
#fair-page .vendor-container .social:active,
#fair-page .vendor-container .social:visited {
    color: black;
    margin-left: 60px;
    text-decoration: none;
}

#fair-page #contact {
    background-color: #F4F4F4;
    padding: 10px 25px;
    margin-top: 20px;
    display: inline-block;
}
#fair-page #contact img {
    margin-right: 5px;
}
#fair-page #contact a {
    color: #2C4E31;
}

#fair-page .footer {
    background-color: #AFCDB4;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
#fair-page .footer img {
    margin-bottom: 15px;
}
#fair-page .footer p {
    margin: 0;
}
#fair-page .footer a {
    display: inline-block;
    margin-top: 15px;
    color: #2C4E31;
}